body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

span {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    padding-left: 5%;
    width: 50%;
}

.half-width img {
    width: 500px;
}